In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import numpy as np
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
import matplotlib.pyplot as plt
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader

In [2]:
data = pd.read_csv('/content/adult.data.txt')

test_data = pd.read_csv('/content/adult.test.txt')

In [3]:
test_data.head(30)

,Age,Employment,Zipcode,Education,Ed_Years,Marital_Status,Job,Relationship,Race,Gender,Capital_Gains,Capital_Losses,Work_Hours,Country,Income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K.
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K.
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K.
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K.
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K.
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K.
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K.
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K.
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K.
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K.
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K.
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K.
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K.
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K.
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K.

In [4]:

data = data[data[' Job'] != ' ?']
test_data = test_data[test_data[' Job'] != ' ?']

In [5]:

data = data.drop([' Zipcode', ' Education'], axis=1)

test_data = test_data.drop([' Zipcode', ' Education'], axis=1)

In [6]:
data = data.drop([' Job'], axis = 1)

test_data = test_data.drop([' Job'], axis = 1)

In [7]:
# prompt: write code that will provide every value in the employment column that occurs in the dataset

print(data[' Employment'].unique())
print(data[' Marital_Status'].unique())
print(data[' Relationship'].unique())
print(data[' Race'].unique())
print(data[' Gender'].unique())
print(data[' Country'].unique())

print(test_data[' Gender'].unique())

[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' Self-emp-inc' ' Without-pay']
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
[' Male' ' Female']
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Poland' ' Columbia' ' Cambodia' ' Thailand' ' Ecuador'
 ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' Italy' ' China' ' South' ' Japan'
 ' Yugoslavia' ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland'
 ' Trinadad&Tobago' ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland'
 ' Hungary' ' Holand-Netherlands']
[' Male' ' Female']

In [8]:
# prompt: add code to remove every line with '?' for employment or country

data = data[data[' Employment'] != ' ?']
data = data[data[' Country'] != ' ?']

test_data = test_data[test_data[' Employment'] != ' ?']
test_data = test_data[test_data[' Country'] != ' ?']

In [12]:

print(data['Age'].unique())
print(data[' Income'].unique())

[39 50 38 53 28 37 49 52 31 42 30 23 32 34 25 43 40 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 47 46 36 79 27 18 33 76 55 61 70 64 71 66 51 58
 26 17 60 90 75 65 77 62 63 67 74 72 69 68 73 81 78 88 80 84 83 85 82 86]
[' <=50K' ' >50K']

In [13]:


data[' Gender'] = data[' Gender'].replace({' Female': 0, ' Male': 1})

test_data[' Gender'] = test_data[' Gender'].replace({' Female': 0, ' Male': 1})

<ipython-input-13-51fcd9cfbcd4>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[' Gender'] = data[' Gender'].replace({' Female': 0, ' Male': 1})
<ipython-input-13-51fcd9cfbcd4>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data[' Gender'] = test_data[' Gender'].replace({' Female': 0, ' Male': 1})

In [14]:
data[' Income'] = data[' Income'].replace({' <=50K': 0, ' >50K': 1})

test_data[' Income'] = test_data[' Income'].replace({' <=50K.': 0, ' >50K.': 1})

<ipython-input-14-e928cb136e5f>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[' Income'] = data[' Income'].replace({' <=50K': 0, ' >50K': 1})
<ipython-input-14-e928cb136e5f>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data[' Income'] = test_data[' Income'].replace({' <=50K.': 0, ' >50K.': 1})

In [15]:
test_data.head(30)

,Age,Employment,Ed_Years,Marital_Status,Relationship,Race,Gender,Capital_Gains,Capital_Losses,Work_Hours,Country,Income
0,25,Private,7,Never-married,Own-child,Black,1,0,0,40,United-States,0
1,38,Private,9,Married-civ-spouse,Husband,White,1,0,0,50,United-States,0
2,28,Local-gov,12,Married-civ-spouse,Husband,White,1,0,0,40,United-States,1
3,44,Private,10,Married-civ-spouse,Husband,Black,1,7688,0,40,United-States,1
5,34,Private,6,Never-married,Not-in-family,White,1,0,0,30,United-States,0
7,63,Self-emp-not-inc,15,Married-civ-spouse,Husband,White,1,3103,0,32,United-States,1
8,24,Private,10,Never-married,Unmarried,White,0,0,0,40,United-States,0
9,55,Private,4,Married-civ-spouse,Husband,White,1,0,0,10,United-States,0
10,65,Private,9,Married-civ-spouse,Husband,White,1,6418,0,40,United-States,1
11,36,Federal-gov,13,Married-civ-spouse,Husband,White,1,0,0,40,United-States,0
12,26,Private,9,Never-married,Not-in-family,White,0,0,0,39,United-States,0
14,48,Private,9,Married-civ-spouse,Husband,White,1,3103,0,48,United-States,1
15,43,Private,14,Married-civ-spouse,Husband,White,1,0,0,50,United-States,1
16,20,State-gov,10,Never-married,Own-child,White,1,0,0,25,United-States,0
17,43,Private,9,Married-civ-spouse,Wife,White,0,0,0,30,United-States,0
18,37,Private,9,Widowed,Unmarried,White,0,0,0,20,United-States,0
20,34,Private,13,Married-civ-spouse,Husband,White,1,0,0,47,United-States,1
21,34,Private,10,Never-married,Own-child,Black,0,0,0,35,United-States,0
23,25,Private,13,Never-married,Not-in-family,White,1,0,0,43,Peru,0
24,25,Private,13,Married-civ-spouse,Husband,White,1,0,0,40,United-States,0
25,45,Self-emp-not-inc,9,Married-civ-spouse,Husband,White,1,7298,0,90,United-States,1
26,22,Private,9,Never-married,Own-child,White,1,0,0,20,United-States,0
27,23,Private,9,Separated,Unmarried,Black,1,0,0,54,United-States,0
28,54,Private,9,Married-civ-spouse,Husband,White,1,0,0,35,United-States,0
29,32,Self-emp-not-inc,10,Never-married,Not-in-family,White,1,0,0,60,United-States,0
30,46,State-gov,10,Married-civ-spouse,Husband,Black,1,7688,0,38,United-States,1
31,56,Self-emp-not-inc,7,Widowed,Unmarried,White,0,0,0,50,United-States,0
32,24,Self-emp-not-inc,13,Never-married,Not-in-family,White,1,0,0,50,United-States,0
33,23,Local-gov,10,Married-civ-spouse,Husband,White,1,0,0,40,United-States,0
34,26,Private,9,Divorced,Unmarried,White,0,0,0,40,United-States,0

In [16]:
columns = [col for col in data.columns if col != ' Income']

In [17]:
x_train = data[columns]
y_train = data[' Income']

x_test = test_data[columns]
y_test = test_data[' Income']

In [18]:

x_train = x_train.iloc[:1000]
y_train = y_train.iloc[:1000]

x_test = x_test.iloc[:1000]
y_test = y_test.iloc[:1000]

In [19]:

x_train = x_train.drop([' Employment', ' Marital_Status', ' Relationship', ' Race', ' Country'], axis=1)

x_test = x_test.drop([' Employment', ' Marital_Status', ' Relationship', ' Race', ' Country'], axis=1)

In [20]:
x_test.head(30)

    Age   Ed_Years   Gender   Capital_Gains   Capital_Losses   Work_Hours
0    25          7        1               0                0           40
1    38          9        1               0                0           50
2    28         12        1               0                0           40
3    44         10        1            7688                0           40
5    34          6        1               0                0           30
7    63         15        1            3103                0           32
8    24         10        0               0                0           40
9    55          4        1               0                0           10
10   65          9        1            6418                0           40
11   36         13        1               0                0           40
12   26          9        0               0                0           39
14   48          9        1            3103                0           48
15   43         14        1               0                0           50
16   20         10        1               0                0           25
17   43          9        0               0                0           30
18   37          9        0               0                0           20
20   34         13        1               0                0           47
21   34         10        0               0                0           35
23   25         13        1               0                0           43
24   25         13        1               0                0           40
25   45          9        1            7298                0           90
26   22          9        1               0                0           20
27   23          9        1               0                0           54
28   54          9        1               0                0           35
29   32         10        1               0                0           60
30   46         10        1            7688                0           38
31   56          7        0               0                0           50
32   24         13        1               0                0           50
33   23         10        1               0                0           40
34   26          9        0               0                0           40

In [21]:
#feature scaling of data
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x_train)

x_test_scaled = scaler.transform(x_test)

In [22]:
x_tensor = torch.FloatTensor(x_scaled)
y_tensor = torch.FloatTensor(y_train.values)
x_test_tensor = torch.FloatTensor(x_test_scaled)
y_test_tensor = torch.FloatTensor(y_test.values)

In [23]:
#defines one layer neural network

class SVM(nn.Module):
    def __init__(self, input_dim):
        super(SVM, self).__init__()
        self.linear = nn.Linear(input_dim, 1)

    def forward(self, x):
        output = self.linear(x)
        return output

In [24]:
learning_rate = 0.01 #step size in each iteration of SGD
lambda_param = 0.01 # controls strenght of regularization
num_epochs = 100
batch_size = 64

In [25]:
input_dim = x_tensor.shape[1]
model = SVM(input_dim)

In [26]:
train_dataset = TensorDataset(x_tensor, y_tensor.view(-1, 1))
train_loader = DataLoader(dataset=train_dataset, batch_size=batch_size, shuffle=True)

In [27]:
optimizer = optim.SGD(model.parameters(), lr=learning_rate)

In [28]:
#loss function common in classification, maximizes distance between boundary and nearest datapoints
def hinge_loss(outputs, labels):
    # Convert labels from [0, 1] to [-1, 1]
    labels = 2 * labels - 1
    # Calculate hinge loss
    return torch.mean(torch.clamp(1 - outputs * labels, min=0))

In [29]:
model.train()
for epoch in range(num_epochs):
    total_loss = 0
    for inputs, labels in train_loader:
        # Forward pass
        outputs = model(inputs)

        # Compute hinge loss
        loss = hinge_loss(outputs, labels)

        # Add L2 regularization term (weight decay, based on squared sum of weights)
        l2_reg = torch.tensor(0.)
        for param in model.parameters():
            l2_reg += torch.norm(param, p=2)
        loss += lambda_param * l2_reg

        # Compute gradients and optimize model accordingly
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        total_loss += loss.item()

    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {total_loss/len(train_loader):.4f}')

Epoch [10/100], Loss: 0.5166
Epoch [20/100], Loss: 0.4533
Epoch [30/100], Loss: 0.4465
Epoch [40/100], Loss: 0.4421
Epoch [50/100], Loss: 0.4410
Epoch [60/100], Loss: 0.4410
Epoch [70/100], Loss: 0.4371
Epoch [80/100], Loss: 0.4382
Epoch [90/100], Loss: 0.4374
Epoch [100/100], Loss: 0.4343

In [30]:
model.eval()
with torch.no_grad():
    y_pred_tensor = model(x_test_tensor)
    # Convert outputs to binary predictions
    y_pred = (y_pred_tensor > 0).float().numpy().flatten() #converts predictions to 0 if false and 1 if true

accuracy = accuracy_score(y_test, y_pred)
print(f"\nAccuracy: {accuracy:.4f}")

Accuracy: 0.7990

In [34]:
precision = precision_score(y_test, y_pred)
print(f"\nPrecision: {precision:.4f}")

Precision: 0.7692

In [35]:
recall = recall_score(y_test, y_pred)
print(f"Recall: {recall:.4f}")

Recall: 0.2800

In [36]:
f1 = f1_score(y_test, y_pred)
print(f"F1 Score: {f1:.4f}")

F1 Score: 0.4106